@font-face {
  font-family: zh-font;
  font-weight: 200;
  src: local('Source Han Sans TW Light'), local('SourceHanSansTW-Light'),
       local('Source Han Sans Light'), local('SourceHanSans-Light'),
       local('PingFang TC Light'), local('PingFang-TC-Light'),
       local('Lantinghei TC Extralight'), local('FZLTXHB--B51-0');
}

@font-face {
  font-family: zh-font;
  font-weight: 600;
  src: local('Source Han Sans TW Medium'), local('SourceHanSansTW-Medium'),
       local('Source Han Sans Medium'), local('SourceHanSans-Medium'),
       local('PingFang TC Medium'), local('PingFang-TC-Medium'),
       local('Lantinghei TC Demibold'), local('FZLTZHB--B51-0');
}

$default-font: "Helvetica Neue", Helvetica, Arial, sans-serif;
