.hero-section {
  position: relative;
}
.hero-screen {
  width: 100%;
  height: 100vh;
  max-height: 720px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  padding: 60px 15px;
  display: flex;
  position: relative;

  @include subpixel-rendering(off);

  @include media-small {
    font-size: relative(18px);
    padding: 60px;
  }
  @include media-medium {
    font-size: relative(24px);
  }
}

.hero-inner {
  margin: auto;
}
.hero-title, .hero-subtitle {
  text-shadow: 0 0 5px rgba(0,0,0,.75), 0 0 10px black;
}
.hero-title {
  $size: 80px;
  font-size: relative($size, 24px);
  font-weight: 300;
  font-family: "Source Sans Pro", $default-font;
  margin: 0.2em 0;
}
.hero-subtitle {
  $size: 35px;
  font-size: relative($size, 24px);
  font-weight: 200;
  font-family: zh-light, $default-font;
  margin: 0;
}

.hero-actions {
  font-size: 14px;
  color: white;
  margin-top: relative(45px);
}
.btn-outline {
  background-color: transparentize(black, .75);
  border-color: inherit;

  &, &:hover, &:focus {
    color: inherit;
  }
  &:hover, &:focus {
    background-color: transparentize(white, .8);
  }
  &:active {
    background-color: transparentize(white, .9);
  }
}

.hero-icon {
  width: relative(256px, 24px);
  height: relative(256px, 24px);
  background-color: white;
  border-radius: 50%;
  display: inline-flex;
}
.hero-icon:before {
  content: '';
  width: percentage(248/530);
  height: percentage(328/530);
  margin: auto;
  display: block;
  clip-path: polygon(
    0 0, percentage(20/248) 0,
    50% percentage(152/328),
    percentage(228/248) 0, 100% 0,
    percentage(134/248) 50%,
    100% 100%, percentage(228/248) 100%,
    50% percentage(178/328),
    percentage(20/248) 100%, 0 100%,
    percentage(116/248) 50%
  );
}

.hero-attribution {
  position: absolute;
  bottom: 0;
  right: 0;

  a {
    background-color: black;
    color: inherit;
    font-size: 12px;
    padding: 0.3em 1em;
    display: inline-block;
    opacity: .75;
  }
}

/*
 * Screen Transitions
 */
$out-cubic: cubic-bezier(0.22, 0.61, 0.36, 1);

.screen-leaving,
.screen-active {
  z-index: 10;
}
.screen-next {
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
}
.screen-active + .screen-next {
  opacity: 0;
}
.screen-leaving {
  opacity: 0;
  transition: opacity 0.6s $out-cubic;
}

.hero-icon, .hero-title, .hero-subtitle, .hero-actions {
  .screen-next & {
    opacity: 0;
    transform: translateY(15px);
  }

  .screen-active & {
    transition-property: opacity, transform;
    transition-duration: 0.6s;
    transition-timing-function: $out-cubic;
    opacity: 1;
    transform: translateY(0);
  }
}
.hero-title, .hero-subtitle {
  transition-delay: 0.6s;
}
.hero-actions {
  transition-delay: 1.2s;
}
