@function relative($size, $base: 14px, $unit: 1em) {
  @return ($size / $base) * $unit;
}

@mixin subpixel-rendering($switch: on) {
  // From: http://maximilianhoffmann.com/article/better-font-rendering-on-osx/
  @if $switch == on {
    -webkit-font-smoothing: subpixel-antialiased;
    -moz-osx-font-smoothing: auto;
  } @else if $switch == off {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}

@mixin media-retina {
  @media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
    @content;
  }
}
@mixin media-small {
  @media screen and (min-width: 768px) {
    @content;
  }
}
@mixin media-medium {
  @media screen and (min-width: 992px) {
    @content;
  }
}
@mixin media-large {
  @media screen and (min-width: 1200px) {
    @content;
  }
}
