---
title: 你可以幫我升級高美濕地嗎？
---

<div class="hero-section">
  <div class="hero-screen type-gaomei screen-default">
    <div class="hero-inner">
      <div class="hero-icon"></div>
      <h1 class="hero-title">
        OS X Gaomei Wetlands
      </h1>
      <h2 class="hero-subtitle">
        口誤，造就一場美好的誤會。
      </h2>

      <div class="hero-actions">
        <button type="button" class="btn btn-outline random-button">
          可以幫我再升級嗎？
        </button>
      </div>
    </div>
    <div class="hero-attribution">
      <a href="http://flic.kr/p/f7qSMu" target="_blank">
        Photo by Yuchin Chou, CC-BY-NC-ND
      </a>
    </div>
  </div>
</div>

<div class="lead-section">
  <div class="container">
    <p class="lead">
      在 Facebook 上所舉行的「<a href="https://www.facebook.com/events/976559385699179/" target="_blank">一句話惹毛Apple銷售員大賽</a>」中，最受歡迎的就是下面這篇「可以幫我升級高美濕地嗎」的貼文了。這也是為什麼會有這個網站出現──想升級你的 Mac 嗎？這邊獨家幫您升遍全台灣！
    </p>

    <div class="fb-post" data-href="https://www.facebook.com/events/976559385699179/permalink/976670082354776/"></div>
  </div>
</div>

<footer>
  <div class="container">
    <p>
      CC-BY <a href="https://twitter.com/zhusee2">@zhusee2</a>. OS X and its icon are trademarks of Apple, Inc.<br>
      All photos are licensed through Creative Commons and belong to their owners.
    </p>
  </div>
</footer>
